# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SiteFi.iml
# Datasource local storage ignored files
/../../../../../../../:\source\repos\SiteFi\.idea\.idea.SiteFi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
